.bar {
  border-radius: 18px;
  font-size: 15px;
}

window>box {
  margin-left: 18px;
  margin-right: 18px;
}

window.bar {
  background-color: #181926;
}

button {
  padding-top: 0;
  padding-bottom: 0;
  background: #181926;
  border: 0;
  border-radius: 0px;
  border-bottom: 2px solid #181926;
}

.workspaces {
  color: #363a4f;
}

.workspaces button {
  padding-left: 6px;
  padding-right: 6px;
  color: #cad3f5;
  font-size: 16px;
}

.workspaces button.active {
  border-bottom: 2px solid @theme_selected_bg_color;
}

label {
  font-weight: bold;
}

.notification {
  color: yellow;
}

.systray button {
  padding-left: 6px;
  padding-right: 6px;
}

levelbar block,
highlight {
  min-height: 10px;
}

.volume-section {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 46px;
  background: @theme_selected_bg_color;
  font-size: 14px;
}

.clock-box {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 150px;
  margin: 0;
  background: #363a4f;
}
